.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-right: 30px;
    -webkit-user-drag: none;

}
nav ul li a{
    -webkit-user-drag: none;
    
    text-decoration: none;
    color: rgb(207, 207, 207);
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 10px;
    transition: 0.3s ease all;
}
nav ul li a:hover{
    /* background-color: rgba(83, 83, 83, 0.486); */
    background-color: rgba(255, 255, 255, 0.288);

}
.icon{
    width: 25px;
    display: none;
    cursor: pointer;
}
body{
    -webkit-user-drag: none;
    user-select: none;
    transition: 0.3s ease all;
    background-color: rgb(32, 32, 32);
}
.logo1{
    cursor: pointer;
    -webkit-user-drag: none;
    position: relative;
    margin: 60px 0;   
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px 0;
    
}

.col1{
    flex-basis: 40%;
    position: relative;
    margin-top: -200px;
    margin-left: 50px;
}

.col1 h2{
    color: rgb(160, 160, 160);
    font-size: 40px;
    
}
.col1 h3{
    font-size: 30px;
    color: #727272;
}
.col1 p{
    color: #87afe48f;

}
.col1 h4{
    font-size: 25px;
    color: #000000;

}
button a{
    color: rgb(173, 173, 173);

    text-decoration: none;
}
button{
    box-shadow: 3px 4px rgba(0, 0, 0, 0.397);
    width: 140px;
    border: 0;
    padding: 8px 4px;
    color: rgb(173, 173, 173);

    outline: none;  
    border-radius: 6px;
    background: linear-gradient(to right, rgb(54, 54, 54), rgb(26, 26, 26));
    cursor: pointer;
    transition: 1s ease all ;
}
button i{
    opacity: 0;
    text-decoration: none;
    transition: 0.3s ease all;
}

.controller{
    visibility: hidden;
}

button:hover i{
    opacity: 100;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width:1075px){
    .colorbox {
        visibility: hidden;
    }
}
@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: var(--grad);
        position: absolute;
        top: 120px;
        right: 0;
        z-index: 3;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color: white;
    }
    .icon{
        display: block;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s ease all;
    }
    .row{
        flex-direction: column-reverse;
        transform: translateY(-100px);
        margin-bottom: 0;
        padding-top: 0;
    }
    .col2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col2 .controller{
        width: 77%;
    }
    .colorbox{
        transform: translateX(75px);
    }
    .col1{
        flex-basis: 100%;
    }
    .col1 h2{
        font-size: 35px;
    }
    .col h3{
        font-size: 15px;
    }
}

.socials{
    font-size: 20px;
    cursor: pointer;
    color: white;
    word-spacing: 40px;
    text-align: center;
}

/**for every <i> in the socials, make it a circle**/
.socials i{
    border-radius: 50%;
    padding: 15px;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.3s ease all;
}

.socials i:hover{
    background: rgb(41, 41, 41);
}
 
.col1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(rgb(82, 82, 82), rgb(44, 44, 44));
    position: absolute;
    left: -40px;
    top: 60px;
}

.colorbox{
    position: absolute;
    box-shadow: 3px 4px rgba(0, 0, 0, 0.397);
    right: 0;
    top: 250px;
    user-select: all;
    background: linear-gradient(to right, rgb(82, 82, 82), rgb(44, 44, 44));

    border-radius: 20px 0 0 20px;
    height: 70%;
    width: 30%;
    z-index: -1;
}


.colorbox h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
}
.colorbox h4{
    color: rgb(161, 161, 161);
    font-size: 15px;
    margin-left: 50px;
}

.colorbox h6{
    text-align: center;
    color: rgb(154, 154, 255);
}

/**change the scroll bar to black and white**/
::-webkit-scrollbar {
    width: 1px;
    background-color: #f5f5f500;
}

